{% extends 'base.html.twig' %}

{% block title %}Categoria{% endblock %}

{% block body %}
    <h1>Categoria</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorium.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('categoria_index') }}">back to list</a>

    <a href="{{ path('categoria_edit', {'id': categorium.id}) }}">edit</a>

    {{ include('categoria/_delete_form.html.twig') }}
{% endblock %}
