<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	 <link rel='stylesheet' href="{{ asset('build/appstyle.css')}}">
        	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        {% endblock %}
    </head>
    <body>
        {% block body %}

			      {% block header %}

			        {% include '_base/header.html.twig' %}

			        {% endblock %}

        {% endblock %}
        {% block javascripts %}
        <script src="{{asset('build/app.js')}}"></script>
        {% endblock %}
    </body>
</html>
